/* Set all parents to full height */
html, body,
.container,
.cbp-fbscroller,
.cbp-fbscroller section {
	height: 95%;
margin: 0;
}


/* background-attachment does the trick */
.cbp-fbscroller section {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.no-touch .cbp-fbscroller section {
	background-attachment: fixed;
}


header {
min-height: 15vh;
position: fixed;
text-align: center;
top: 0;
left: 0;
right: 0;
padding: 1em;
z-index: 5;
color: #000000;
}

.logo_header {
display: block;
margin: 25px;
}

.logo_header img {
	width: 70px;
	}


#fbsection1 {
	background-color: #28338c;
	margin: 0 auto;
	position: relative;
	height: 95vh;
	overflow: hidden;

}


.paragraphe {
	position: absolute;
	  top: 60%;
	  transform: translateY(-50%);
	text-align: left;
	display: block;
color: #fff;
	width: 55%;
	left: 22.5%;

}

.paragraphe h2 {
margin: 0;
margin-left: -40px;
margin-bottom: 40px;
}

.paragraphe p {
	display: flex;

	text-align: left;

}
.legende {
	margin-left: -20px;
	margin-top: 20px;
}


#fbsection2 {
	background-image: url('../img/base/logo.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
background-color: #fff;
height: 90vh;
}

#fbsection3 {
	background-image: url('../img/base/charte.jpg');
	background-size: 70%;
	background-repeat: no-repeat;
	background-color: #fff;
	height: 90vh;
	background-position: center;

	position: relative;
}



#fbsection4 {
	background-image: url('../img/base/cdv.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
background-color: #b0b0b0;
height: 90vh;
}



#fbsection5 {
	background-image: url('../img/base/papier.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
background-color: #52bbb4;
height: 90vh;

}

#fbsection6 {
	background-color: #28338c;
	margin: 0 auto;
	position: relative;
height: 90vh;
}

#fbsection6 .paragraphe {
	top: 50%;
}

.paragraphe4 {
	position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
		padding: 80px;
	text-align: left;
	display: block;
margin: 0;
color: #fff;
	width: 38%;

}

.paragraphe4 p {
	display: flex;
	justify-content: center;
	text-align: left;
	align-self: center;

}
#fbsection16 {
	background-image: url('../img/base/programme.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
background-color: #52bbb4;
	height: 95vh;
}

#fbsection8 {
	background-image: url('../img/base/affiche.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
background-color: #fff;
height: 95vh;
}
#fbsection9 {
	background-image: url('../img/base/market.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
background-color: #fff;
	height: 95vh;
}
#fbsection10 {
	background-image: url('../img/base/carte.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
background-color: #e1d0a8;
	height: 95vh;
}

#fbsection11 {

background-color : #fff;
	height: 95vh;
}
.picto {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	height: 100%;
width: 60%;
padding: 50px;

}
.picto img {
	height: 18%;
	padding: 20px;
	align-self: center;
}

.paragraphe3 {
	position: absolute;
	  top: 60%;
	  transform: translateY(-50%);
		padding: 70px;
	text-align: left;
right: 0;
	display: block;

color: #28338c;
	width: 40%;

}

.paragraphe3 h2 {
margin: 0;
margin-left: -40px;
margin-bottom: 20px;
}

.paragraphe3 p {
	display: flex;

	text-align: left;

}

#fbsection12 {
	background-image: url('../img/base/navette.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
background-color: #b4b4b4;
	height: 95vh;
}

#fbsection13{
	background-image: url('../img/base/panneau.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
background-color: #fff;
	height: 95vh;
}

#fbsection14 {
	background-image: url('../img/base/facade.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
background-color: #b4b4b4;
	height: 95vh;
}

#fbsection15 {
	background-image: url('../img/base/fond-signaletique.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
background-color: #fff;
	height: 95vh;
}

#fbsection7 {
	background-color : #28338c;
	min-height: 95vh;
	overflow: hidden;
}

#fbsection7 img {
	height: 95vh;
}

.paragraphe2 {
	position: absolute;
	  top: 60%;
	  transform: translateY(-50%);
		padding: 70px;
	text-align: left;
right: 0;
	display: block;

color: #fff;
	width: 40%;

}

.paragraphe2 h2 {
margin: 0;
margin-left: -40px;
margin-bottom: 20px;
}

.paragraphe2 p {
	display: flex;

	text-align: left;

}



@media (max-width: 1150px) {

#fbsection1 {
	overflow: hidden;
	height: 95vh;
}


	.paragraphe h2 {
	margin-left: 0px;
	margin-bottom: 10px;
	}
	.paragraphe {
		position: absolute;
			top: 60%;
			transform: translateY(-50%);
			padding: 40px;
		text-align: left;
		justify-content: center;
		display: block;
	margin: 0;
	color: #fff;
		width: 100%;
		left: 0;
	}

	.paragraphe p {
		display: flex;
		justify-content: center;
		text-align: left;
		align-self: center;

	}
	.paragraphe2 {
		position: absolute;
		 bottom: 0;
		padding: 20px;
		top: 70%;
		text-align: right;
	right: 0;
		display: block;
	color: #fff;
		width: 100%;


	}

	.paragraphe2 h2 {
	margin: 0;
	margin-left: 0;
	margin-bottom: 10px;
	}

	.paragraphe2 p {
		display: flex;

		text-align: left;

	}
	.legende {
		margin-left: 0;
	}

	#fbsection2 {
		background-image: url('../img/base/logo.jpg');
		background-size: 250%;
		background-repeat: no-repeat;
		background-position: center;
	background-color: #fff;
	height: 50vh;
	}

	#fbsection3 {
		background-image: url('../img/base/charte.jpg');
		background-size: 90%;
		background-repeat: no-repeat;
		background-color: #fff;
		height: 40vh;
		background-position: center;
		position: relative;
	}



	#fbsection4 {
		background-image: url('../img/base/cdv.jpg');
		background-size: 120%;
		background-repeat: no-repeat;
		background-position: center;
	background-color: #b0b0b0;
	height: 40vh;
	}



	#fbsection5 {
		background-image: url('../img/base/papier.jpg');
		background-size: 120%;
		background-repeat: no-repeat;
		background-position: center;
	background-color: #52bbb4;
	height: 50vh;

	}

	#fbsection6 {
		background-color: #28338c;
		margin: 0 auto;
		position: relative;
	height: 90vh;
	}

	#fbsection6 .paragraphe {
		padding: 20px;
	}

	#fbsection16 {
		background-image: url('../img/base/programme.jpg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	background-color: #52bbb4;
		height: 40vh;
	}

	#fbsection8 {
		background-image: url('../img/base/affiche.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	background-color: #fff;
	height: 40vh;
	}
	#fbsection9 {
		background-image: url('../img/base/market.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	background-color: #fff;
		height: 40vh;
	}
	#fbsection10 {
		background-image: url('../img/base/carte.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: right;
	background-color: #e1d0a8;
	height: 40vh;
	}
	#fbsection11 {

	background-color : #fff;
		height: 95vh;
	}
	.picto {
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: flex-start;
	width: 100%;
	padding: 0;
	padding-top: 20px;


	}
	.picto img {
		height: 11%;
		padding: 10px;
		align-self: center;
	}

	.paragraphe3 {
		position: absolute;
			padding: 20px;
		text-align: left;
bottom: 0;
		display: block;
	color: #28338c;
		width: 100%;
		top: 75%;

	}

	.paragraphe3 h2 {
	margin: 0;
	margin-left: 0;
	margin-bottom: 20px;
	}

	.paragraphe3 p {
		display: flex;

		text-align: left;

	}
	#fbsection12 {
		background-image: url('../img/base/navette.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: right;
	background-color: #b4b4b4;
		height: 95vh;
	}

	#fbsection13{
		background-image: url('../img/base/panneau.jpg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	background-color: #fff;
		height: 40vh;
	}

	#fbsection14 {
		background-image: url('../img/base/facade.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	background-color: #b4b4b4;
		height: 80vh;
	}

	#fbsection15 {
		background-image: url('../img/base/fond-signaletique.jpg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: top;
	background-color: #28338c;
		height: 80vh;
	}

	#fbsection7 {
		background-color : #28338c;
		height: 95vh;
		overflow: hidden;
	}

	#fbsection7 img {
		width: 100%;
		height: auto;

	}
	.paragraphe4 {
		position: absolute;
		width: 100%;
		height: auto;
			padding: 20px;
		text-align: left;
		display: block;
	margin: 0;
	bottom: 0;
	color: #fff;
	top: 65%;
	transform: translateY(-50%);


	}

	.paragraphe4 h2 {
margin-left: 0;

	}
	.paragraphe4 p {
		display: flex;
		justify-content: center;
		text-align: left;
		align-self: center;

	}

	.paragraphe2 h2 {
		text-align: left;
	}

}
