/* Set all parents to full height */
html, body,
.container,
.cbp-fbscroller,
.cbp-fbscroller section {

margin: 0;
}


header {
min-height: 15vh;
	position: fixed;
text-align: center;
top: 0;
left: 0;
right: 0;
padding: 1em;
z-index: 5;

}

.logo_header {
display: block;
margin: 25px;
}

.logo_header img {
width: 70px;
}

.cbp-fbscroller section {
	position: relative;

	background-repeat: no-repeat;

}

.no-touch .cbp-fbscroller section {
	background-attachment: fixed;
}





#fbsection1 {
	background-image: url("../img/contact.png");

	background-size: 70%;
	background-position: top left;
	background-repeat: no-repeat;
	background-color: #1455bc;
	margin: 0 auto;
  height: 70vh;
  position: relative;

}

.page-c {
	position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
	text-align: center;
	justify-content: center;
	display: block;
	width: 100%;
	margin: 0;
	padding: 20px;
	color: #1455bc;
}

.coordonne {

text-align: center;
color: #ffffff;
}

.coordonne h2 {
	color: #ea9bab;

}

.coordonne p {

	padding: 10px;

}

#fbsection2 {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
  position: relative;
  height: 30vh;

}


.linklist  {
  list-style-type: none;
  position: absolute;
  align-self: center;
  display: inline-flex;
	flex-wrap: wrap;
  align-items: center;
padding: 30px;
  justify-content: center;
width: 100%;
height: 100%;
margin: 0;


}

.linklist a:hover {
	opacity: 0.5;
}

.linklist li {
  list-style-type: none;
padding: 20px;
}

.linklist img {
  width: 70px;
}

#fbsection3 {

}




@media (max-width: 1150px) {

	.page-c {
		position: absolute;
		  top: 50%;
		  transform: translateY(-50%);
			padding: 40px;
		text-align: center;
		justify-content: center;
		display: block;
	margin: 0;
	}



	.linklist img {
	  width: 60px;
	}

	.linklist  {
	  list-style-type: none;
	  position: absolute;
	  align-self: center;
	  display: inline-flex;
		flex-wrap: wrap;
	  align-items: center;
	padding: 30px;
	  justify-content: center;
	width: 100%;
	height: 100%;
	margin: 0;


	}

	.linklist li {
	  list-style-type: none;
	padding: 10px;
	}

	#fbsection1 {
		background-image: none;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-color: #1455bc;
		margin: 0 auto;
	  height: 70vh;
	  position: relative;
	}
}
