/* Set all parents to full height */

html, body,
.container,
.cbp-fbscroller,
.cbp-fbscroller section {
	height: 95%;
margin: 0;
}


header {
min-height: 15vh;
	position: fixed;
text-align: center;
top: 0;
left: 0;
right: 0;
padding: 1em;
z-index: 5;

}

.logo_header {
display: block;
margin: 25px;
}

.logo_header img {
width: 70px;
}

.cbp-fbscroller section {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.no-touch .cbp-fbscroller section {
	background-attachment: fixed;
}


#fbsection8 {
background-color: #1455bc;
margin: 0 auto;
height: 95vh;
position: relative;

}

#fbsection1 {
	background-color: #1455bc;
	margin: 0 auto;
height: 80vh;
 position: relative;
}


.paragraphe {
	position: absolute;
	  top: 40%;
	  transform: translateY(-50%);
	text-align: left;
	display: block;
color: #fff;
	width: 55%;
	left: 22.5%;

}

.paragraphe h2 {
margin: 0;
margin-left: -40px;
margin-bottom: 40px;
color: #ea9bab;
}

.paragraphe p {
	display: flex;
	text-align: left;

}

#fbsection2 {
	background-image: url("../img/etudes.png");

	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-color: #fff;
  height: 80vh;
  position: relative;

}

.paragraphe3 {
	/*display: block;
padding: 100px;
color: #fff;
text-align: center;
justify-content: center;
align-items: center;
align-self: center;
margin: 0 auto;*/

position: absolute;
  top: 50%;
  transform: translateY(-50%);
text-align: center;
justify-content: center;
display: block;
width: 100%;
margin: 0;
padding: 20px;
color: #1455bc;
}

.paragraphe3 h3, h2 {
	color: #ec6d80;
}
.paragraphe3 h5 {
	font-size: 0.9em;
}


#fbsection5 {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #1455bc;
  height: 95vh;
  position: relative;
}

.paragraphe4 {
position: absolute;
  top: 50%;
  transform: translateY(-50%);
text-align: center;
justify-content: center;
display: block;
width: 55%;
left: 22.5%;
margin: 0;
padding: 20px;
color: #fff;
}

.paragraphe4 h3, h2 {
	color: #ea9bab;
	margin: 10px;
}

.paragraphe4 h5 {
	font-size: 0.9em;
}


#fbsection6 {
	background-image: url("../img/competences.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	background-color: #fff;
  height: 80vh;
  position: relative;

}

.paragraphe5 {
	/*display: block;
padding: 100px;
color: #fff;
text-align: center;
justify-content: center;
align-items: center;
align-self: center;
margin: 0 auto;*/

position: absolute;
  top: 50%;
  transform: translateY(-50%);
text-align: center;
justify-content: center;
display: block;
width: 100%;
margin: 0;
padding: 20px;
color: #1455bc;
}

.paragraphe5 h3, h2 {
	color: #ea9bab;
}

.paragraphe5 h5 {
	font-size: 0.9em;
}

#fbsection7 {
	background-color: #1455bc;
	padding: 20px;
 height: 20vh;
}


.linklist  {
  list-style-type: none;
  align-self: center;
  display: inline-flex;
width: 100%;
justify-content: center;
padding-left: 0;

}

.linklist li {
	padding: 20px;
}
.linklist img {

  width: 60px;
}
.linklist a:hover {
	opacity: 0.5;
}

#fbsection9 {
	background-color: #1455bc;
	padding: 20px;
 height: 20vh;
}
/* bouton */
.menu--salal {
display: inline-flex;
align-items: center;
justify-content: center;
width: 100%;
}

.menu-header .menu__item {
padding: 10px;
}

.menu--salal .menu__item:hover {
color: #515152;
}

.menu--salal .menu__item:first-child {
--menu-item-color:#f85f83;
}

.menu--salal .menu__item:nth-child(2) {
--menu-item-color:#f85f83;
}

.menu--salal .menu__item:nth-child(3) {
--menu-item-color:#24d261;
}

.menu--salal .menu__item:nth-child(4) {
--menu-item-color:#6537f7;
}

.menu--salal .menu__item-name {
color: #fff;
}

.menu--salal .menu__item-name::before {
content: '';
position: absolute;
z-index: -1;
bottom: 0;
left: 0;
width: 100%;
height: 50%;
background: var(--menu-item-color);
transform: scale3d(1,0,1);
transform-origin: 50% 100%;
transition: transform 0.3s;
transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu--salal .menu__item:hover .menu__item-name::before,
.menu--salal .menu__item:focus .menu__item-name::before {
transform: scale3d(1,1,1);
transform-origin: 50% 0%;
}


a {
text-decoration: none;
color: #5d93d8;
color: var(--color-link);
outline: none;
}

a:hover,
a:focus {
color: #423c2b;
color: var(--color-link-hover);
outline: none;
}

.hidden {
position: absolute;
overflow: hidden;
width: 0;
height: 0;
pointer-events: none;
}


.menu {
position: relative;
z-index: 10;
}

.menu__item {
line-height: 1;
position: relative;
display: block;
outline: none;
}

.menu__item-name,
.menu__item-label {
position: relative;
display: inline-block;
}

.menu__item-name {
font-size: 1.25em;
}

.menu__item-label {
margin: 0 0 0 0.5em;
}




	@media (max-width: 1024px) {
		#fbsection1 {
			background-color: #1455bc;
			margin: 0 auto;
		height: 95vh;
		 position: relative;
		}
		#fbsection8 {
		background-color: #1455bc;
		margin: 0 auto;
		height: 105vh;
		position: relative;
		}

		.paragraphe {
			position: absolute;
				top: 50%;
				transform: translateY(-50%);
				padding: 20px;
			text-align: left;
			justify-content: center;
			display: block;
		margin: 0;
		color: #fff;
			width: 100%;
			left: 0;

		}

		.paragraphe p {
			display: flex;
			text-align: left;
		}

		.legende {
			margin-left: 0;
		}
		.paragraphe h2 {
		margin-left: 0;
		margin-bottom: 10px;

		}

		#fbsection2 {
			background-image: url('../img/etudes.png');

			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			background-color: #fff;
		  height: 80vh;
		  position: relative;

		}
		#fbsection6 {
			background-image: url('../img/competences.png');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: left;
			background-color: #fff;
		  height: 80vh;
		  position: relative;

		}

		#fbsection1 {
			background-color: #1455bc;
			margin: 0 auto;
height: 95%;
		 position: relative;
		}

		.paragraphe4 {
		position: absolute;
		  top: 50%;
		  transform: translateY(-50%);
		text-align: center;
		justify-content: center;
		display: block;
		width: 100%;
		left: 0;
		margin: 0;
		padding: 20px;
		color: #fff;
		}

		.linklist img {
		  width: 40px;
		}

		#fbsection5 {
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			background-color: #1455bc;
		  height: 110vh;
		  position: relative;
		}

	}
