.cbp-fwslider {
	position: relative;
	overflow: hidden;
top: 50%;
	  transform: translateY(-50%);
height: 95vh;
}

.cbp-fwslider ul {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	list-style-type: none;

}

.cbp-fwslider ul li {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	float: left;
	display: block;
	margin: 0;
	padding: 0;

}

.cbp-fwslider p {
margin-top: -20px;
}

.cbp-fwslider ul li > a img {
	position: relative;
	border: none;
	display: block;
	margin: 0 auto;
max-width: 25%;
}


.cbp-fwdots {
	position: absolute;
bottom: 0px;
padding: 1.5em;
	white-space: nowrap;
	text-align: center;
	width: 100%;
}

.cbp-fwdots span {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: #2E3457;
	margin: 4px;
	border-radius: 50%;
	cursor: pointer;
}

.cbp-fwdots span:hover {
	background: #151527 ;
}

.cbp-fwdots span.cbp-fwcurrent {
	background: #fff;
	box-shadow: 0 0 0 2px #fff;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
}

.cbp-fwslider-mob nav {
	display: none;
}

.cbp-fwslider nav {
	display: none;
}

@media (max-width: 1150px) {


	.cbp-fwslider {
		position: relative;
		overflow: hidden;
	top: 50%;
		  transform: translateY(-50%);
	height: 90vh;
	}

.cbp-fwslider ul li > a img {
	border: none;
	display: block;
	margin: 0 auto;
	max-width: 70%;
}
}
