*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	--text-color: #fff;
	--background-color: #1455bc;
	--link-color: #03b9f1;
	--link-hover-color: #fff;
	color: #fff;
	color: var(--text-color);
	background-color: #363dc2;
	background-color: var(--background-color);

}


.menu__item img {
	width: 80px;

}


.menu-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
	padding-top: 35px;
}

.reseaux {
	display: inline-flex;
		align-items: center;
}

.reseaux img {
	max-width: 30px;
}
.menu--salal {
	display: inline-flex;
	align-items: center;
}

.menu-header .menu__item {
	padding: 10px;
}

.menu--salal .menu__item:hover {
	color: #515152;
}

.menu--salal .menu__item:first-child {
	--menu-item-color:#f85f83;
}

.menu--salal .menu__item:nth-child(2) {
	--menu-item-color:#f85f83;
}


.menu--salal .menu__item-name {
	color: #fff;
}

.content--layout-1 .menu--salal .menu__item:first-child {
	--menu-item-color:#1FC2BE;
}

.content--layout-2 .menu--salal .menu__item:first-child {
	--menu-item-color:#29C199;
}


.content--layout-3 .menu--salal .menu__item:first-child {
	--menu-item-color:#FF3E7B;
}

.content--layout-4 .menu--salal .menu__item:first-child {
	--menu-item-color:#a38f50;
}

.content--layout-5 .menu--salal .menu__item:first-child {
	--menu-item-color:#cf34c7;
}
.content--layout-6 .menu--salal .menu__item:first-child {
	--menu-item-color:#F0047F;
}
.content--layout-7 .menu--salal .menu__item:first-child {
	--menu-item-color:#753E9A;
}
.content--layout-8 .menu--salal .menu__item:first-child {
	--menu-item-color:#edbc38;
}


.menu--salal .menu__item-name::before {
	content: '';
	position: absolute;
	z-index: -1;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background: var(--menu-item-color);
	transform: scale3d(1,0,1);
	transform-origin: 50% 100%;
	transition: transform 0.3s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu--salal .menu__item:hover .menu__item-name::before,
.menu--salal .menu__item:focus .menu__item-name::before {
	transform: scale3d(1,1,1);
	transform-origin: 50% 0%;
}


a {
	text-decoration: none;
	color: #5d93d8;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: #423c2b;
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}




/* Common styles for the menus */
.menu {
	position: relative;
	z-index: 10;
}

.menu__item {
	line-height: 1;
	position: relative;
	display: block;
	outline: none;
}

.menu__item-name,
.menu__item-label {
	position: relative;
	display: inline-block;
}

.menu__item-name {
	font-size: 1.25em;
}

.menu__item-label {
	margin: 0 0 0 0.5em;
}



/* SVG Morph */
.morph-wrap {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	z-index: -10;
}

.morph {
	position: relative;
	height: 100%;
	fill: var(--background-color-2);
	flex: none;
}

.content-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 65vh;
	min-height: 600px;
	pointer-events: none;
}

.content {
	position: relative;
	display: grid;
}

.content--fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	min-height: 600px;
	z-index: 100;
	pointer-events: none;
	padding: 1.5em;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto 4em;
	grid-template-areas:	"header ..."
							"... decotitle"
							"demos decotitle";
}

.content--fixed a {
	pointer-events: auto;
}

.content--layout {
	pointer-events: auto;
	justify-content: center;
	align-content: center;
	grid-template-columns: 250px 150px 150px 150px;
	grid-template-rows: 150px 125px 75px;
	grid-template-areas:	"... title title title"
							"author ... desc desc"
							"author ... link link";
}

.content--related {
	text-align: center;
	align-content: center;
	justify-content: center;
	padding: 0 2em;
	min-height: 600px;
	height: 100vh;
	font-size: 0.85em;
}

.content__img {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
	width: 100%;
	height: 100%;

}

.content__title {
	grid-area: title;
	margin: 0;
	z-index: 10;
	cursor: default;
}

.content__author {
	grid-area: author;
	margin: 0;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	padding: 1em;
	text-align: right;
	z-index: 10;
	cursor: default;
}

.content__desc {
	grid-area: desc;
	margin: 0;
	z-index: 10;
	padding: 0 1em;
	cursor: default;
}

.content__img,
.content__title,
.content__author,
.content__desc {
	transition: transform 0.3s ease-out;
}

.content__link {
	pointer-events: auto;
	grid-area: link;
	align-self: end;
	justify-self: start;
	z-index: 10;
	padding: 0 1em 0.15em;
}

.content__info {
	grid-column: 1 / 3;
}

.content__related-item {
	padding: 1em;
	transition: color 0.3s;
}

.content__related-img {
	max-width: 100%;
	opacity: 0.8;
	transition: opacity 0.3s;
}

.content__related-item:hover .content__related-img,
.content__related-item:focus .content__related-img {
	opacity: 1;
}

.content__related-title {
	font-size: 1em;
	margin: 0;
	padding: 0.5em;
}

/* Different layouts */

/* layout-1 */


.content--layout-1 .content__img {
	grid-column: 1 / 3;
	grid-row: 1 / 4;
	background-image: url("../img/portfolio/snippets.svg");
	background-size: cover;


}
.content--layout-1 .menu--salal {
	grid-column: 3;
	grid-row: 3;
	margin: 0;
	padding-left: 20px;
	align-self: flex-end;

}

/* layout-2 */
.content--layout-2  {
	grid-template-areas:	"... title title title"
							"desc desc ... author"
							"link link ... author";
}

.content--layout-2 .content__img {
	grid-column: 2 / 5;
	grid-row: 1 / 4;
	background-image: url("../img/portfolio/data-miniature.jpg");
	background-size: cover;

}

.content--layout-2 .content__desc {
	text-align: right;
	grid-column: 1;
	grid-row: 2;
	align-self: flex-end;

}

.content--layout-2 .menu--salal {
	grid-column: 1;
	grid-row: 3;
	margin: 0;
	padding-right: 20px;
	text-align: right;
	align-self: end;
	justify-content: flex-end;

}

.content--layout-2 .content__author {
	grid-row: 2/5;
	justify-self: end;
	align-self: end;
}
.content--layout-2 .content__title {
	grid-column: 1 / 3;
	text-align: right;


}

/* layout-3 */
.content--layout-3 {
	grid-template-rows: 75px 75px 150px;
	grid-template-areas:	"... ... desc desc"
							"author title title title"
							"author ... link link";
}

.content--layout-3 .content__img {
	background-image: url('../img/portfolio/meteo.svg');
	background-size: cover;

	grid-column: 1 / 3;
	grid-row: 1 / 4;
}

.content--layout-3 .content__desc {
	align-self: end;
}

.content--layout-3 .menu--salal {
	grid-column: 3;
	grid-row: 3;
	margin: 0;
	padding-left: 20px;
	text-align: left;
	align-self: end;

}
/* layout-4 */

.content--layout-4 {
	grid-template-areas:	"title title title desc"
							"... author ... desc"
							"... author ... link";
}

.content--layout-4 .content__img {
	grid-column: 2 / 4;
	grid-row: 1 / 4;
	background-image: url('../img/portfolio/cuve-2.jpg');
	background-size: cover;
	background-position: left;
}

.content--layout-4 .content__author {
	justify-self: start;
	align-self: end;
}

.content--layout-4 .menu--salal {
	grid-column: 4;
	grid-row: 3;
	margin: 0;
	padding-left: 20px;
	text-align: left;
	align-self: end;

}

/* layout-5 */


.content--layout-5 .content__img {
	grid-column: 1 / 3;
	grid-row: 1 / 4;
	background-image: url("../img/portfolio/clip-3.png");
	background-size: cover;

}
.content--layout-5 .menu--salal {
	grid-column: 3;
	grid-row: 3;
	margin: 0;
	padding-left: 20px;
	align-self: flex-end;

}

/* layout-6 */
.content--layout-6  {
	grid-template-areas:	"... title title title"
							"desc desc ... author"
							"link link ... author";
}

.content--layout-6 .content__img {
	grid-column: 2 / 5;
	grid-row: 1 / 4;
	background-image: url('../img/portfolio/base-02.svg');
	background-size: cover;

}

.content--layout-6 .content__desc {
	text-align: right;
	grid-column: 1;
	grid-row: 2;
}

.content--layout-6 .menu--salal {
	grid-column: 1;
	grid-row: 3;
	margin: 0;
	padding-right: 20px;
	text-align: right;
	align-self: end;
	justify-content: flex-end;

}

.content--layout-6 .content__author {
	grid-row: 2/5;
	justify-self: end;
	align-self: end;
}
.content--layout-6 .content__title {
	grid-column: 1 / 3;
	text-align: right;


}

/* layout-7 */
.content--layout-7 {
	grid-template-rows: 75px 75px 150px;
	grid-template-areas:	"... ... desc desc"
							"author title title title"
							"author ... link link";
}

.content--layout-7 .content__img {
	grid-column: 1 / 3;
	grid-row: 1 / 4;
	background-image: url('../img/portfolio/triomemo.svg');
	background-size: cover;
}

.content--layout-7 .content__desc {
	align-self: end;

}

.content--layout-7 .menu--salal {
	grid-column: 3;
	grid-row: 3;
	margin: 0;
	padding-left: 20px;
	text-align: left;
	align-self: end;

}

.content--layout-7 .content__author {
color: #753E9A;

}

/* layout-8 */


.content--layout-8 .content__img {
	grid-column: 1 / 3;
	grid-row: 1 / 4;
	background-image: url("../img/portfolio/betb-2.svg");
	background-size: cover;


}
.content--layout-8 .menu--salal {
	grid-column: 3;
	grid-row: 3;
	margin: 0;
	padding-left: 20px;
	align-self: flex-end;

}
.content--layout-8 .content__desc {
	align-self: end;

}


/* Demos */
.demos {
	grid-area: demos;
	align-self: end;
}

.demo {
	display: inline-block;
	position: relative;
	font-size: 0.85em;
	margin: 0 0.25em 0.5em 0;
	padding: 1em;
}

.demo .decoshape {
	display: none;
}

.demo--current {
	color: var(--link-hover-color);
	border-color: currentColor;
}

.demo--current .decoshape {
	display: block;
	z-index: -1;
}

/* Deco elements */
.deco {
	pointer-events: none;
}

.deco--title {
	grid-area: decotitle;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	text-align: right;
	align-self: end;
	justify-self: end;
}


@media (max-width: 1150px) {
	.content-wrap {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 40vh;
		min-height: 300px;
		pointer-events: none;
	}


}


@media screen and (max-width: 50em) {
	.content--fixed {
		height: auto;
		min-height: 0;
		display: block;
		z-index: 1000;
		position: absolute;
	}

}

@media screen and (max-width: 40em) {
	.content--layout {
		transform: scale3d(0.8,0.8,1);
	}
}

@media screen and (max-width: 36em) {
	.content--layout {
		transform: scale3d(0.7,0.7,1);
	}
}

@media screen and (max-width: 32em) {
	.content--layout {
		transform: scale3d(0.6,0.6,1);
	}

}

@media screen and (max-width: 28em) {
	.content--layout {
		transform: scale3d(0.5,0.5,1);
	}
}
