/* Set all parents to full height */
html, body,
.container,
.cbp-fbscroller,
.cbp-fbscroller section {
	height: 95%;
margin: 0;
}


/* background-attachment does the trick */
.cbp-fbscroller section {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.no-touch .cbp-fbscroller section {
	background-attachment: fixed;
}



/* header */

header {
min-height: 15vh;
position: fixed;
text-align: center;
top: 0;
left: 0;
right: 0;
padding: 1em;
z-index: 5;
color: #000000;
}

.logo_header {
display: block;
margin: 25px;
}

.logo_header img {
width: 70px;
}

#fbsection1 {
	background-color: #8a5ea4;
	margin: 0 auto;
	position: relative;
	height: 95vh;
	overflow: hidden;

}


.paragraphe {
	position: absolute;
	  top: 60%;
	  transform: translateY(-50%);
	text-align: left;
	display: block;
color: #fff;
	width: 55%;
	left: 22.5%;

}

.paragraphe h2 {
margin: 0;
margin-left: -40px;
margin-bottom: 40px;
}

.paragraphe p {
	display: flex;

	text-align: left;

}
.legende {
	margin-left: -20px;
	margin-top: 20px;
}



#fbsection2 {
	background-image: url('../img/Triomemo/logo.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
background-color: #fff;
height: 90vh;
}

#fbsection3 {
	background-image: url('../img/Triomemo/couleurs.jpg');
	background-size: 50%;
	background-repeat: no-repeat;
	background-color: #fff;
	background-position: left;

	position: relative;
	height: 90vh;
}


.paragraphe3 {
	position: absolute;
	display: block;
color: #312783;
text-align: left;
right: 10%;
padding: 70px;
margin: 0 auto;
top: 60%;
transform: translateY(-50%);
width: 40%;

}

.paragraphe3 h2 {
	margin: 0;
	margin-left: -40px;
	margin-bottom: 20px;
}

.paragraphe3 p {
	display: flex;


}

#fbsection4 {
	background-image: url('../img/Triomemo/3-cartes.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
background-color: #fff;
height: 90vh;
}

#fbsection5 {
	background-image: url('../img/Triomemo/plateau.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
background-color: #fff;
height: 90vh;

}

#fbsection6 {
	background-color: #8a5ea4;
	margin: 0 auto;
	position: relative;
	height: 90vh
}


#fbsection7 {
	background-image: url('../img/Triomemo/affiche_chaumont.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
background-color: #fff;
height: 95vh;
}


@media (max-width: 1150px)  {

	.paragraphe {
		position: absolute;
			top: 60%;
			transform: translateY(-50%);
			padding: 40px;
		text-align: left;
		justify-content: center;
		display: block;
	margin: 0;
	color: #fff;
		width: 100%;
		left: 0;

	}

	.paragraphe p {
		display: flex;
		justify-content: center;
		text-align: left;
		align-self: center;

	}

	.legende {
		margin-left: 0;
	}
	.paragraphe h2 {
	margin-left: 0;
	margin-bottom: 10px;

	}

	#fbsection2 {
		background-image: url('../img/Triomemo/logo.jpg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	background-color: #fff;
	height: 40vh;
	}

	#fbsection3 {
		background-image: url('../img/Triomemo/couleurs.jpg');
		background-size: 100%;
		background-repeat: no-repeat;
		background-color: #fff;
		background-position: top;
		position: relative;
		height: 70vh;
	}


	.paragraphe3 {
		position: absolute;
		top: 50%;
		transform: translateY(0);
		 bottom: 0;
			padding: 30px;
		text-align: right;
	right: 0;
		display: block;
	color: #8a5ea4;
		width: 100%;

	}

	.paragraphe3 h2 {
		margin: 0;
		margin-left: 0;
		margin-bottom: 10px;
	}

	.paragraphe3 p {
		display: flex;
		font-size: 0.8em;


	}

	#fbsection4 {
		background-image: url('../img/Triomemo/3-cartes-mobile.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	background-color: #fff;
	height: 80vh;
	}

	#fbsection5 {
		background-image: url('../img/Triomemo/plateau.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	background-color: #fff;
	height: 50vh;

	}

	#fbsection6 {
		background-color: #8a5ea4;
		margin: 0 auto;
		position: relative;
		height: 95vh
	}


	#fbsection7 {
		background-image: url('../img/Triomemo/affiche_chaumont.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	background-color: #fff;
	height: 95vh;
	}


}
